@import "tailwindcss";

@layer base {
  body {
    @apply bg-[#020617] text-slate-50 antialiased selection:bg-indigo-600 selection:text-white;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}

/* Bento custom scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #020617;
}
::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background: #334155;
}

@media print {
  body {
    background: #020617 !important;
    color: #f8fafc !important;
  }
  nav, button, aside, footer {
    display: none !important;
  }
  #printable-report {
    display: block !important;
    box-shadow: none !important;
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
    width: 100% !important;
    max-width: 100% !important;
  }
}

